h1, h2, h3 {
    text-align: center;
    font-family: "blacker";
}

.tablaFormu {

    border: 1px black;
    text-align: center;
    margin: 10px;
    width: 100%;
    background-color: antiquewhite;
    color: white;
    border-radius: 12px 12px;
    box-shadow: 5px 5px 5px 2px saddlebrown;

}

tr td h5:first-child {
    color: darkred;
}

tr td h4:first-child {
    font-family: "Droid Sans Mono Slashed";
}
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.pagination .page-link {
    padding: 6px 12px;
    margin: 0 2px;
    background-color: #bc634f;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.page-item.active .page-link{
    background-color: darkred;
}
.pagination .page-link:hover {
    background-color: #e6c199;
    color:white;
}

.pagination .page-item.disabled .page-link {
    background-color: #ddd;
    color: #999;
}
#footer {
    width: 400px;
    height: 420px;
}


@media screen and (min-width: 800px) and (min-height: 1280px) {
    #footer {
        height: 900px;
        width: 800px;
    }
}

