
.contacto{
    background-color: whitesmoke;
    border: 1px solid black;
    margin: 30px;
    padding: 30px;
    border-radius: 5px;
}

input[type="submit"]{
    background-color: #bc634f;
    border: 1px solid white;
}
input[type="submit"]:hover{
    background-color: #e6c199;
    border: 1px solid white;

}

#footer {
    width: 400px;
    height: 400px;
}


@media screen and (min-width: 800px) and (min-height: 1280px) {
    #footer {
        height: 800px;
        width: 800px;
    }
}
