.formu {
    padding: 10px;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    margin: 0px;
}
h1{
    text-align: center;
    font-family: "blacker";
}

#divGeneral {
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
}

.divGen {
    width: 100%;
    height: 100%;
}

.tablaFormu {
    top: 50px;
    border: 1px black;
    text-align: center;
    margin: 10px;
    width: 100%;
    background-color: #e6c199;
    color: black;
    border-radius: 12px 0px;

}

button {
    padding: 5px;
    right: 50px;
    background-color: black;
    color: white;
}

tr td h5:first-child {
    color: darkred;
}

tr td h4:first-child {
    font-family: "Droid Sans Mono Slashed";
}
.styled-select {
    display: inline-block;
    width: 80%;
    cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    background: #f0f0f0;
    color: #7b7b7b;
    font-size: 1em;
    color: #999;
    font-family: 'Quicksand', sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px 0px;
    position: relative;
    transition: all 0.25s ease;
}

.styled-select option {
    background-color: #fff;
    color: #333;
}
.styled-select select:hover{
    background: #B1E8CD;
}

td input{
    right: 50px;
    width: 80%;
    cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    background: #f0f0f0;

}


