#divGeneral {
    position: relative;
}

.formu {
    align-items: center;
    text-align: center;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    z-index: 1;
    border-radius: 10px 10px 10px 10px;
}

.tablaFormu {
    border: 1px white solid;
    align-items: center;
    width: 100%;
    height: 40%;
    background-color: #fffbf1;
    box-shadow: 5px 5px 5px gray;

}

.buscar {
    background-color: #e28743;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.buscar:hover {
    background-color: darkorange;
}

#campoVuelta {
    display: none;
}


#error {
    display: none;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    padding-right: 35px;
    background-color: #f8beb6;

}

#titulovuelta {
    display: none;
}

td label {
    display: none;
}

label.idayvuelta {
    display: block;
}

@media screen and (max-width: 576px) {

}
@media screen and (max-width: 768px) {
    .tablaFormu {
        width: 100%;
    }

    table thead {
        display: none;
    }

    table tr {
        display: block;
        margin-bottom: 10px;
    }

    table td {
        display: block;
        text-align: left;
        padding: 5px;
    }


    td label {
        display: block;
        float: right;
    }
    td#campoVuelta label {
        display: block;
        float: right;
    }

    table th {
        display: block;
        font-weight: bold;
        font-size: 14px;
        padding: 5px;
    }


}
