
body
{
    font-family: arial, serif;
}

/* Do some css reset on selected elements */
h1, p
{
    margin: 0;
}

h1 {
    font-size: 1.5em;
}

p {
    font-size: 0.8em;
}

#canvasContainer {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: silver;
    margin: 0 auto;
    overflow: hidden;
}

#canvasWrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
#canvas {
    z-index: 1;
    width: 100%;
    height: 100%;

}

#prizePointer {
    position: relative;
    z-index: 2;
}
