.tablaVuelosAleatorios{
    padding: 20px;
    margin:10px;
    width: 100%;
    height: 35%;
    color:black;
    text-align: center;
}
.divVueloAleatorio{
    border: #e6c199 solid;
    background: whitesmoke;
    border-radius: 20px 20px ;
    box-shadow: 5px 10px 5px #e6c199;
    margin-left: 40px;
    transition: background-color 0.3s;

}
.divVueloAleatorio:hover{
    border: 3px white dotted;
    border-radius: 20px 20px ;
    background-color: #bc634f;
}
.tablaVuelosAleatorios:hover{
    color:white;
}
.enlaceVueloAleatorio{
    text-decoration: none;
}
.bordeImagenAleatoria{
    border: 4px gray solid;
    box-shadow: 5px 10px 5px gray;


}


